# {{ ansible_managed }}
[sssd]
config_file_version = 2
domains = {{ sssd.custom_domain | default('LDAP') }}
{% if ansible_distribution_major_version | int <= 10 %}
services = {{ sssd.services | join(', ') }}
{% endif %}

[nss]
filter_groups = root, ldap, named, avahi, haldaemon, dbus, radiusd, news, nscd
filter_users = root, ldap, named, avahi, haldaemon, dbus, radiusd, news, nscd

[pam]

[domain/{{ sssd.custom_domain | default('LDAP') }}]
debug_level = {{ sssd.debug_level | default('0') }}
lookup_family_order = ipv6_first
auth_provider = ldap
id_provider = ldap
{% if sssd.cache_credentials  is defined -%}
cache_credentials = {{ sssd.cache_credentials }}
{% endif %}

access_provider = simple
ldap_default_authtok = {{ sssd.ldap_auth_password }}
ldap_default_authtok_type = password
ldap_default_bind_dn = {{ sssd.ldap_auth_bind }}
{% if sssd.ldap_chpass_uri is defined %}
ldap_chpass_uri = {{ sssd.ldap_chpass_uri }}
{% endif %}
{% if sssd.ldap_tls_cacert is defined %}
ldap_tls_cacert = {{ sssd.ldap_tls_cacert }}
{% endif %}
ldap_uri = {{ sssd.ldap_uri_list | join(', ') }}
ldap_search_base = {{ sssd.ldap_search_base }}
ldap_tls_reqcert = demand
{% if sssd.ldap_user_search_base is defined %}
ldap_user_search_base = {{ sssd.ldap_user_search_base }}
{% endif %}
{% if sssd.ldap_group_search_base is defined %}
ldap_group_search_base = {{ sssd.ldap_group_search_base }}
{% endif %}
{% if sssd.ldap_user_object_class is defined %}
ldap_user_object_class = {{ sssd.ldap_user_object_class }}
{% endif %}
{% if sssd.ldap_user_ssh_public_key is defined %}
ldap_user_ssh_public_key = {{ sssd.ldap_user_ssh_public_key }}
{% endif %}
{% if sssd.ldap_id_use_start_tls is defined %}
ldap_id_use_start_tls = {{ sssd.ldap_id_use_start_tls }}
{% endif -%}

ldap_schema = {{ sssd.ldap_schema }}
{% if sssd.ldap_schema == "ad" %}
ldap_id_mapping = True
ldap_user_name = sAMAccountName
ldap_user_gecos = displayName
ldap_group_name = sAMAccountName
ldap_group_object_class = group
default_shell = /bin/bash
enumerate = False
min_id = 1000
override_homedir = /home/%u
{% endif %}

{% if sssd.ldap_allow_groups is defined and sssd.ldap_allow_groups %}
simple_allow_groups = {{ sssd.ldap_allow_groups | join(',') }}
{% endif -%}

{% if sssd.ldap_allow_users is defined and sssd.ldap_allow_users %}
simple_allow_users = {{ sssd.ldap_allow_users | join(',') }}
{% endif -%}

{% if sssd.ldap_deny_groups is defined and sssd.ldap_deny_groups %}
simple_deny_groups = {{ sssd.ldap_deny_groups | join(',') }}
{% endif -%}

{% if sssd.ldap_deny_users is defined and sssd.ldap_deny_users %}
simple_deny_users = {{ sssd.ldap_deny_users | join(',') }}
{% endif %}
